# Environment
NODE_ENV=development

# Server
PORT=3001
SERVER_HOST=localhost
CORS_ORIGIN=http://localhost:3000
# Legacy fallback (optional)
# FRONTEND_URL=http://localhost:3000

# Logging
LOG_LEVEL=info
IS_PRODUCTION=false

JWT_EXPIRES_IN=7d

DATABASE_URL='postgresql://**'
JWT_SECRET='****'
