# Environment
NODE_ENV=development

# Server
PORT=4000
SERVER_HOST=localhost
FRONTEND_URL=http://localhost:3000

# Logging
LOG_LEVEL=info
IS_PRODUCTION=false


DATABASE_URL='postgresql://**'
JWT_SECRET='****'
